/* select2 responsive */
.select2 {
  width:100%!important;
}


/* Modal Boostrap Custom */
.modal-dialog{
    overflow-y: initial !important;
}
.modal-body-height{
  height: 300px;
  overflow-y: auto;
}

/* size modal *
@media screen and (min-width: 768px) {
  .modal-sm {
    width: 350px; /* New width for small modal *
  }
}
@media screen and (min-width: 992px) {
    /* middle modal positon *
    .vertical-alignment-helper {
      display:table;
      height: 100%;
      width: 100%;
      pointer-events:none;
    }
    .vertical-align-center {
      /* To center vertically *
      display: table-cell;
      vertical-align: middle;
      pointer-events:none;
    }
    .modal-content {
      /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it *
      width:inherit;
    max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width *
      height:inherit;
      /* To center horizontally *
      margin: 0 auto;
      pointer-events:all;
    }
    .modal-lg {
      width: 950px; /* New width for large modal *
    }
}
*/

.modal-backdrop{
	z-index:-100;
}


/* disabled href */
a.disabled {
   pointer-events: none;
   cursor: not-allowed;
   text-decoration: line-through;
}

fieldset.scheduler-border{border:1px groove #ddd !important;padding:0 1.4em 1.4em 1.4em !important;margin:0 0 1.5em 0 !important;-webkit-box-shadow:0px 0px 0px 0px #000;box-shadow:0px 0px 0px 0px #000;}
legend.scheduler-border{font-size:1.2em !important;font-weight:bold !important;text-align:left !important;width:auto;padding:0 10px;border-bottom:none;}

/* select2 custom */
.select2 {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}

/*Group buttons*/
.ui-group-buttons .or{position:relative;float:left;width:.3em;height:1.3em;z-index:3;font-size:12px}
.ui-group-buttons .or:before{position:absolute;top:50%;left:50%;content:'or';background-color:#5a5a5a;margin-top:-.1em;margin-left:-.9em;width:1.8em;height:1.8em;line-height:1.55;color:#fff;font-style:normal;font-weight:400;text-align:center;border-radius:0px;-webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.1);box-shadow:0 0 0 1px rgba(0,0,0,0.1);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.ui-group-buttons .or:after{position:absolute;top:0;left:0;content:' ';width:.3em;height:2.84em;background-color:rgba(0,0,0,0);border-top:.6em solid #5a5a5a;border-bottom:.6em solid #5a5a5a}
.ui-group-buttons .or.or-lg{height:1.3em;font-size:16px}
.ui-group-buttons .or.or-lg:after{height:2.85em}
.ui-group-buttons .or.or-sm{height:1em}
.ui-group-buttons .or.or-sm:after{height:2.5em}
.ui-group-buttons .or.or-xs{height:.25em}
.ui-group-buttons .or.or-xs:after{height:1.84em;z-index:-1000}
.ui-group-buttons{display:inline-block;vertical-align:middle}
.ui-group-buttons:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.ui-group-buttons .btn{float:left;border-radius:0}
.ui-group-buttons .btn:first-child{margin-left:0;border-top-left-radius:.0em;border-bottom-left-radius:.0em;padding-right:15px}
.ui-group-buttons .btn:last-child{border-top-right-radius:.0em;border-bottom-right-radius:.0em;padding-left:15px}

/*Bootstrap Button Dropdowns*/
.btn-default .dropdown-menu {
  color: #000 !important;
}
.btn-default .dropdown-menu li > a:hover,
.btn-default .dropdown-menu li > a:focus {
  background-color: #000 !important;
  color:#fff !important;
}

/*
.btn-group-primary .dropdown-menu {
  background-color: #3784c5 !important;
}
.btn-group-primary .dropdown-menu li > a:hover,
.btn-group-primary .dropdown-menu li > a:focus {
  background-color: #428bca !important;
}
.btn-group-success .dropdown-menu {
  background-color: #51b351 !important;
}
.btn-group-success .dropdown-menu li > a:hover,
.btn-group-success .dropdown-menu li > a:focus {
  background-color: #5cb85c !important;
}
.btn-group-info .dropdown-menu {
  background-color: #4ebbdb !important;
}
.btn-group-info .dropdown-menu li > a:hover,
.btn-group-info .dropdown-menu li > a:focus {
  background-color: #5bc0de !important;
}
.btn-group-warning .dropdown-menu {
  background-color: #efa640 !important;
}
.btn-group-warning .dropdown-menu li > a:hover,
.btn-group-warning .dropdown-menu li > a:focus {
  background-color: #f0ad4e !important;
}
.btn-group-danger .dropdown-menu {
  background-color: #d64742 !important;
}
.btn-group-danger .dropdown-menu li > a:hover,
.btn-group-danger .dropdown-menu li > a:focus {
  background-color: #d9534f !important;
}
*/