.container{
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 15px;
    padding-right: 15px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-seri;
  font-size: 14px;
    line-height: 1.5;
}
.col{
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
    /* border : 1px solid #000; */
}
.left{ width : 400px; float:left;}
.right{ width : 150px; float:right;}

.clear { clear : both; }
.invoice-title {
    color : #33cccc;
}

p{line-height:1.7;}

.hr{
    border: 1px solid #33cccc;
    margin : 20px 0px;
  }
.hr1{
  border: 0.4px dotted #33cccc;
  margin : 20px 0px;
}

.dashed{
  border: 1px dashed #000;
  margin-top : 30px;
}

hr {border : 1px solid #ddd}

.text-danger{color:#a94442}a.text-danger:focus,a.text-danger:hover{color:#843534}
b.text-danger{color:#a94442;font-size:18px;}

body{
    font-family: open sans, tahoma, sans-serif; 
    margin: 0; 
    -webkit-print-color-adjust: exact;
    width : 790px;
}
@media print {
  .hidden-print {
    display: none !important;
  }
}

.upp{
    text-transform: uppercase;
}
.ww{
    word-wrap: break-word;
}